p, h1 {
  margin: 0;
}

.card {
  display: flex;
  width: 400px;
  height: 342px;
  padding: 25px 43px;
  box-sizing: border-box;
  flex-direction: column;
  overflow: hidden;
}

.human {
  background: #99CAC8;
}

.ethical {
  background: #E79A9A;
}

.social {
  background: #EEEEEE;
}

.technology {
  background: #D0B2FC;
}

.economic {
  background: #95C8EC;
}

.policy {
  background: #FAD67A;
}

.card-category {
  font-size: 11.25px;
  line-height: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
}

.card-title {
  font-size: 22px;
  line-height: 27px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
  margin-top: 32px;
  margin-bottom: 27px;

  &-flipped {
    font-size: 16px;
    line-height: 20px;
    margin-top: 18px;
    margin-bottom: 21px;
  }
}

.card-desc {
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  color: #000;
}

.flipped {
  display: none;
}

.love-button-wrapper {
  position: absolute;
  margin-left: 347px;
  margin-top: 18px;
}

.more-button-wrapper {
  position: absolute;
  margin-left: 43px;
  margin-top: -43px;
  cursor: pointer;
}