.button-container {
  display: flex;
  flex-direction: row;
  border: 1.1px solid #000;
  background-color: #fff;
  color: #000;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  width: 117px;
  height: 44px;
}

.button-text {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.next {
  border-right: 1.1px solid #000;
}

.prev {
  border-left: 1.1px solid #000;
}

.logo {
  padding: 16px 12px;
  width: auto;
}

.rotated{
  transform: rotate(180deg);
}

.love-button-container {
  padding: 0;
  margin: 0;
  border: 0;
  background: none;
  display: flex;
  justify-content: row;
  width: 32px;
  height: 29px;
  cursor: pointer;
}

.love-logo {
  width: 32px;
  height: 29px;
}

.hidden {
  display: none;
}

.more-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin: 0;
  border: 0;
  background: none;
  width: 102px;
  height: 29px;
  cursor: pointer;

  .more-logo-text {
    font-family: 'Helvetica';
    color: #000;
    font-size: 15px;
    line-height: 18px;
    margin-left: auto;

    &-back {
      margin-left: 7.5px;
    }
  }
}