body {
	font-family: 'Helvetica';
	font-size: 10px;
	color: #0197A7;
	background: #ffffff;
	overflow-x: hidden;
}

.container {
  width: 100%;
  height: 100%;
}

.intro-background {
  background-color: #ECE841;
}

.intro {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 196px 0;
  min-height: 100vh;
  box-sizing: border-box;

  .part {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 52.5px;
  }

  h1 {
    font-size: 69px;
    line-height: 92px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #000;
  }

  .intro-primary-headline {
    display: inline-block;
  }

  .intro-secondary-headline {
    display: inline-block;
    color: #ECE841;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }

  .intro-description {
    font-size: 16px;
    line-height: 22px;
    color: #000;
    max-width: 494px;
    margin-top: 45px;
  }
}

.year-picker-background {
  width: 100vw;
  background-color: #000;
}

.header {
	background-color: #EFFF41;
	display: flex;
	flex-direction: row;
	height: 94px;

  .header-title-wrapper {
    border-right: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 157px;
  
    p {
      color: #000000;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 23.2198px;
      line-height: 27px;
      margin: 0;
    }
  }

  .header-logo-wrapper {
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.year-picker {
  display: flex;
  background-color: #000;
	flex-direction: column;
	height: calc(100vh - 94px);
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 425px;
  padding: 0 12px;
  width: 100%;
  box-sizing: border-box;

  @media only screen and (min-width: 600px) {
    max-width: 768px;
    padding: 0 24px;
  }

  @media only screen and (min-width: 1024px) {
    max-width: 1136px;
    padding: 0 32px;
  }
}

.nl-form {
  font-family: Arial, Helvetica, sans-serif;
  width: auto;
  margin: auto;
  color: #fff;
  font-size: 64px;
  line-height: 92px;
  font-weight: 700;

  .form-static-primary-text {
    display: inline-block;
    margin: 30px 0;
  }

  .form-static-secondary-text {
    display: inline-block;
    margin: 30px 0;
    color: #000;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  }

  select {
    border: none;
    background: transparent;
    font-size: 64px;
    font-weight: inherit;
    padding: 0;
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: #EFFF41;
    cursor: pointer;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 78px;
    border-bottom: 2px solid;
  }
}

.button-wrapper {
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  bottom: 0;
  right: 0;

  &-single {
    justify-content: flex-end;
  }
}

.card-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headline-container {
  display: flex;
  flex-direction: column;
  width: auto;
  max-width: 677px;
  margin-top: 72px;
  margin-left: auto;
  margin-right: auto;
  font-size: 48px;
  line-height: 64px;
  font-weight: 700;
  color: #000;

  .form-static-primary-text {
    display: inline-block;
    color: #000;
  }

  .form-static-secondary-text {
    display: inline-block;
    color: #fff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }

  .description {
    display: flex;
    flex-direction: row;
    color: #000;
    margin-top: 21px;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    align-items: center;
    padding-left: 26px;
    box-sizing: border-box;

    .desc-ico {
      position: absolute;
      width: 12px;
      height: 12px;
      min-width: 12px;
      min-height: 12px;
      background: #ECE841;
      margin-left: -26px;

      &-result {
        margin-top: -33px;
      }
    }
  }

  .refresh-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 17.6px;
    line-height: 20px;
    font-weight: 700;
    right: 80px;
    top: 158px;
    color: #000;
    cursor: pointer;

    .refresh-ico {
      width: 28px;
      height: 28px;
      border-radius: 50%;
      background: #C4C4C4;
      margin-right: 9px;
    }
  }
}

.card-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 37px;
  margin: 37px 80px 80px;
  width: auto;
  max-width: 1280px;
  flex-wrap: wrap;
  justify-items: center;

  @media only screen and (min-width: 1000px) {
    grid-template-columns: 1fr 1fr;
  }

  @media only screen and (min-width: 1440px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


@media only screen and (min-width: 600px) {
  .main  {
    max-width: 768px;
    padding: 0 24px;
  }
}

@media only screen and (min-width: 1024px) {
  .main {
    max-width: 1200px;
    padding: 0 32px;
  }
}